@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0097b2;
}

::-webkit-scrollbar-thumb {
  background: #99d0de;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #66bdd1;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #99d0de #0097b2;
}

body {
  background: #99d0de;
  background: linear-gradient(
    0deg,
    rgba(153, 208, 222, 1) 0%,
    rgba(0, 151, 178, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.profile-container {
  padding: 15px;
}

.profile-container img {
  border-radius: 75px;
  border: 2px solid white;
  width: 130px;
  margin: 15px 0;
  box-shadow: 4px 4px 4px #003340;
}

.links-container {
  padding: 0 15px;
}

.links {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  display: block;
  text-align: center;
  color: #0097b2;
  text-decoration: none;
  box-shadow: 4px 4px 4px #003340;
}

.links:hover {
  background-color: #0097b2;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}
