@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #29323c;
}

::-webkit-scrollbar-thumb {
  background: #697077; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #898e94; 
}

html {
  scrollbar-width: thin;
  scrollbar-color: #697077 #29323c;
}

body {
  background: #29323c;
  background: radial-gradient(
    circle,
    rgba(41, 50, 60, 1) 50%,
    rgba(61, 70, 81, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
}

.profile-container {
  padding: 15px;
}

.profile-container img {
  border-radius: 75px;
  border: 2px solid white;
  width: 130px;
  margin: 15px 0;
  box-shadow: 3px 3px 3px black;
}

.links-container {
  padding: 0 15px;
}

.links {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  display: block;
  text-align: center;
  color: #29323c;
  text-decoration: none;
  box-shadow: 3px 3px 3px black;
}

.links:hover {
  background-color: #29323c;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}
